{% load static %}

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js'%}"></script>

<script src="{% static 'asset1/js/jquery.min.js'%}"></script>
<script src="{% static 'asset1/js/popper.js'%}"></script>
<script src="{% static 'asset1/js/bootstrap.min.js'%}"></script>
<script src="{% static 'asset1/js/main.js'%}"></script>